.RecipeListContainer {
  display: inline-block;
  width: 28.5%;
  height: 100vh;
  vertical-align: top;
  margin: 0 0 1% 1%;
}

.FullRecipeContainer {
  display: inline-block;
  width: 68.5%;
  height: 100vh;
  vertical-align: top;
  margin: 0 1% 1% 1%;
}

@media (max-width: 780px) {
  .RecipeListContainer {
    display: none;
  }
  .FullRecipeContainer {
    width: 98%;
  }
}